---
- name: Block firewall WinRM HTTP port
  community.windows.win_firewall_rule:
    name: Windows Remote Management (HTTP-In)
    state: present
    enabled: true
    action: block
    direction: in
    localport: 5985
    protocol: tcp
    profiles: "{{ winrm_configuration_firewall_profiles | default(omit, true) }}"
  when:
    - ansible_winrm_port | default(0) != 5985
    - winrm_configuration_http_block | bool

- name: Block firewall WinRM HTTPS port
  community.windows.win_firewall_rule:
    name: Windows Remote Management (HTTPS-In)
    state: present
    enabled: true
    action: block
    direction: in
    localport: 5986
    protocol: tcp
    profiles: "{{ winrm_configuration_firewall_profiles | default(omit, true) }}"
  when:
    - ansible_winrm_port | default(0) != 5986
    - not winrm_configuration_https_enable | bool

- name: Enable WinRM service
  ansible.windows.win_service:
    name: WinRM
    state: started
    start_mode: "{{ winrm_configuration_start_mode }}"

- name: Enable WinRM service HTTPS listener
  check_mode: false
  ansible.windows.win_powershell:
    error_action: stop
    script: |
      $Ansible.Changed = $false
      $friendlyName = 'WinRM over HTTPS'
      $cert = Get-ChildItem -Path Cert:\LocalMachine\My | ? FriendlyName -eq $friendlyName
      $listener = Get-WSManInstance winrm/config/Listener -Enumerate | ? Transport -eq 'HTTPS'
      if (-not $listener) {
        $Ansible.Changed = $true
        if ('{{ ansible_check_mode }}' -eq 'true') { Exit 0 }
        if (-not $cert) {
          $cert = New-SelfSignedCertificate -CertStoreLocation Cert:\LocalMachine\My `
                    -DnsName $env:COMPUTERNAME -NotAfter (get-date).AddYears(10) `
                    -Provider 'Microsoft Software Key Storage Provider'
          $cert.FriendlyName = $friendlyName
        }
        New-WSManInstance -ResourceURI winrm/config/Listener `
          -SelectorSet @{Address='*';Transport='HTTPS'} `
          -ValueSet @{CertificateThumbprint=$cert.Thumbprint;Enabled=$true}
      } elseif ($listener.Enabled -ne $true) {
        $Ansible.Changed = $true
        if ('{{ ansible_check_mode }}' -eq 'true') { Exit 0 }
        Set-WSManInstance -ResourceURI winrm/config/Listener `
          -SelectorSet @{Address='*';Transport='HTTPS'} `
          -ValueSet @{Enabled=$true}
      }
  when: winrm_configuration_https_enable | bool

- name: Configure WinRM service
  check_mode: false
  ansible.windows.win_powershell:
    error_action: stop
    script: |
      $Ansible.Changed = $false
      $key = '{{ item.key }}'
      $value = '{{ item.value | to_json if item.value is mapping else item.value }}'
      if ($value.StartsWith('{')) {
        $hash = @{}
        $value = $value | ConvertFrom-Json
        $value.PSObject.Properties | ForEach-Object {
          $hash[$_.Name] = $_.Value
        }
        $value = $hash
      }
      if ($key -ne 'Auth') {
        $current = Get-ChildItem -Path WSMan:\localhost\Service\$key
        if ($value.ToString().ToLower() -ne $current.Value.ToLower()) {
          $Ansible.Changed = $true
          if ('{{ ansible_check_mode }}' -eq 'true') { Exit 0 }
          Set-Item -Path WSMan:\localhost\Service\$key -Value $value
        }
      }
      if ($key -eq 'Auth') {
        $value.GetEnumerator() | ForEach-Object {
          $k = $_.key
          $v = $_.value
          $current = Get-ChildItem -Path WSMan:\localhost\Service\Auth\$k
          if ($k -eq 'CbtHardeningLevel') {
            $v = (Get-Culture).TextInfo.ToTitleCase($v.ToLower())
          }
          if ($v.ToString().ToLower() -ne $current.Value.ToLower()) {
            $Ansible.Changed = $true
            if ('{{ ansible_check_mode }}' -eq 'true') { Exit 0 }
            Set-Item -Path WSMan:\localhost\Service\Auth\$k -Value $v
          }
        }
      }
  loop: "{{ winrm_configuration_service_config | dict2items }}"
  loop_control:
    label: "{{ item.key }}"

- name: Allow firewall WinRM HTTP port
  community.windows.win_firewall_rule:
    name: Windows Remote Management (HTTP-In)
    state: present
    enabled: true
    action: allow
    direction: in
    localport: 5985
    protocol: tcp
    profiles: "{{ winrm_configuration_firewall_profiles | default(omit, true) }}"
  when: not winrm_configuration_http_block | bool

- name: Allow firewall WinRM HTTPS port
  community.windows.win_firewall_rule:
    name: Windows Remote Management (HTTPS-In)
    state: present
    enabled: true
    action: allow
    direction: in
    localport: 5986
    protocol: tcp
    profiles: "{{ winrm_configuration_firewall_profiles | default(omit, true) }}"
  when: winrm_configuration_https_enable | bool

- name: Display WinRM configuration
  include_tasks: display.yml
  when: winrm_configuration_display_config | bool
