---
# This role is obsolete and deprecated,
# use the service_management role instead

service_recovery_options:
  - name: SNMPTRAP
    actions:
      - delay_ms: 30000
        type: restart
      - delay_ms: 30000
        type: restart
      - delay_ms: 60000
        type: reboot
