---
# Enable or disable built-in Administrator
accounts_local_administrator_enable: true

# Enable or disable Ansible user password expiration
accounts_local_ansible_user_password_expires: false

# Show or hide Ansible user on Welcome Screen
accounts_local_ansible_user_show_on_welcome: false
